* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

body {
        background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
	font-size:4rem;
	font-family: Raleway;
	text-align: center;
	font-weight: bolder;
	color: rgba(0,0,0,0.6);
	letter-spacing: 6px;
  font-style: italic;
}

main{
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
}

#enter{
	padding: 0.5rem 1rem;
	width: 280px;
	border:0.5px solid grey;
	border-radius: 2px;
	font-size: 20px;
	background: rgba(560,945,496,0.6);
  outline: none;
}

.buttons{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1rem 0;
}

.button{
	height:65px;
	width: 65px;
	font-size:1.4rem;
	border: none;
	margin-bottom:4px;
	clip-path: circle(45% at 50% 50%);
	z-index: 1;
	outline: none;
}
